{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  <!-- <h2>
  <ul style="list-style: none;"> -->
        <!-- <br>
        <a href="http://lups.inf.ufpel.edu.br"><img src="images/lups_logo.jpg" alt="LUPS"></img></a>
        <a href="http://computacao.cc"><img src="images/ppgc_logo_slim.png" alt="PPGC UFPEL"></img></a>
        <a href="http://inf.ufpel.edu.br"><img src="images/computacao.png" alt="CS UFPEL"></img></a>
        <a href="http://cdtec.ufpel.edu.br"><img src="images/cdtec.jpg" alt="CDTec UFPEL"></img></a>
        <a href="http://inf.ufpel.edu.br"><img src="images/ufpel.jpg" alt="UFPEL"></img></a>
  </ul> -->
  <!-- </h2> -->
  </div>
{% endif %}
